asgiref==3.6.0
async-generator==1.10
attrs==22.2.0
Automat==22.10.0
beautifulsoup4==4.11.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
constantly==15.1.0
cryptography==39.0.0
cssselect==1.2.0
Django==4.1.5
django-fernet-fields==0.6
django-nepali-datetime-field==0.6
djangorestframework==3.14.0
filelock==3.9.0
google-api-core==2.11.1
google-api-python-client==2.92.0
google-auth==2.21.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.1
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
httplib2==0.21.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
itemadapter==0.7.0
itemloaders==1.0.6
jmespath==1.0.1
lxml==4.9.2
mechanize==0.4.8
nepali-datetime==1.0.7
outcome==1.2.0
packaging==23.0
parsel==1.7.0
Pillow==9.4.0
Protego==0.2.1
psycopg2-binary==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyBSDate==0.3.0
pycparser==2.21
PyDispatcher==2.0.6
pyOpenSSL==23.0.0
pyparsing==3.0.9
PySocks==1.7.1
python-dotenv==1.0.0
pytz==2022.7.1
queuelib==1.6.2
requests==2.28.2
requests-file==1.5.1
Scrapy==2.7.1
selenium==4.8.0
service-identity==21.1.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
tldextract==3.4.0
trio==0.22.0
trio-websocket==0.9.2
Twisted==22.10.0
typing_extensions==4.4.0
urllib3==1.26.14
w3lib==2.1.1
webencodings==0.5.1
whitenoise==6.3.0
wsproto==1.2.0
zope.interface==5.5.2
