body {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #ee7752, #8974ff, #23a6d5, #36eec3);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.custom-editor-body {
    height: 60%;
    margin-top: 30px;
    background-color: green;
  }

  .custom-editor-body {
    align-items: center;
  }

  .sidebar_item{
    background-color:transparent;
    border-radius: 10%;
    font-weight: bold;
  }

  .sidebar_item:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
  }

  .inverted-icon {
      color: white; /* Set the desired inverted color */
    }

  /* 
  container-fluid
    - give 80% of width
    - give 60% of height
    - make it align the center.
    - highlight selected code/file
    
    # File:
      - hover: finger, change color  
      - download option to the right
      - click: preview if image, text, video
      
      # Add:
        - click: preview if image, text, video
        - Drag & drop file
    
    # Code
    - hover: finger, change color
    - edit option   
    - hover: finger, change color  
    - click: show code, change background-color
    - scroll on overflow
    
      # edit_click: 
        - edit filename, edit code
        - success note: edit the code
        - save button (tick) (ctrl + S) (green button at top of code editor)
        - cancel button (cross)        (red button at top of code editor)
      
        - multiple containers
      
      # Add:
        - Add new code 
        - Edit


    

  - 
  */
  .col {
    overflow-y: scroll;
  }



  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow: auto;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    opacity: 0;
    transition: opacity 0.2s;
  }

  .custom-scrollbar:hover::-webkit-scrollbar {
    opacity: 1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .no-underline{
    text-decoration: none;
  }
  
  .no-underline:hover {
    color: rgb(112, 112, 112);
  }

  .custom-editor{
    background-color: pink;
    width: 85% !important;
    height: 80% !important;
    margin-top: 30px;
    background-color: green;
    align-items: center;
  }

  .custom-editor-body{
    background-color: #888;
  }

  .custom-editor-title{
    background-color: blueviolet;
  }

.progress{
    width: 100%;
    height: 70%;
    border: 2px dashed #ccc;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}