
<form method="post" style="margin-top: 1.3em;" action="/code/">
          {{ code_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>



        <br><h3>new_codes:</h3><br>
        {% if new_code %}
        <!--<div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>-->

        
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            <h4>{{ new_code.author | linebreaks  }}{{ new_code.title }}
            <span class=" text-muted font-weight-normal">
              {{ new_code.created_on }}</h4>
            </span>
          </p>
          {{ new_code.code | linebreaks }}
        </div>
        
          {%endif%}
        
        


          <br><h3>old_codes:</h3><br>

        {% for code in codes %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
          <h4>{{ code.author | linebreaks  }}{{ code.title }}
            <span class=" text-muted font-weight-normal">
              {{ code.created_on }}</h4>
            </span>
          </p>
          {{ code.code | linebreaks }}
        </div>
        {% endfor %}