<script type="module">
  import {CodeJar} from 'https://medv.io/codejar/codejar.js'
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<main class="view">
  <div class="logo"></div>
  <h1 class="title">
    CodeJar Code Editor
  </h1>
  <div class="window">
    <div class="window-header">
      <div class="action-buttons"></div>
      <div class="controls">
        <div>language: <a class="switch-language" href="">js</a></div>
        <div>style: <a class="switch-style" href="">dracula</a></div>
      </div>
    </div>
    <div class="window-body">
      <div class="editor language-js" data-gramm="false"></div>
    </div>
  </div>
  <div class="features">
    <h2>Features</h2>
    <ul>
      <li>Lightweight (2 kB only)
      <li>Preserves indentation on a new line
      <li>Adds closing brackets, quotes
      <li>Indents line with the Tab key
      <li>Supports undo/redo
    </ul>
  </div>
</main>
