<!-- for google analytics_ioee -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1H145N2CV1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1H145N2CV1');
</script>


<!-- Bing Search Console -->
<meta name="msvalidate.01" content="796C5390EDBEB82180F4A5850D7F73C8" />
<!-- Google Search Console -->
<meta name="google-site-verification" content="B3UpNAzKeG7ioT5yzNsbyQBGv9aXiBRHYC1f50Veals" />

<!-- For dark mode & making website responsive (mobile-friendly) -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<!-- For SEO -->
<meta charset="UTF-8">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4623367346274115"
     crossorigin="anonymous"></script>


<!-- Bootstrap-5 css-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<!-- For jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
