<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>feedbacks</title>

  <style>
  body{
    background-color: black;
    color:green;
    font-size: 20px;
    font-family: 'Brush Script MT',cursive;
    font-size: 26px;}
  .textarea{
    color:green;
    font-family: 'serif';
    font-size: 15px;
    }
    .well {
   background-color: rgba(0, 0, 0, 0.5);
}
.blinking {
	font-size:30px;
	/*text-align:center;
	font-size:80px;
	font-family:Helvetica,sans-serif;
	padding-top:20px;*/
	
	-webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -o-animation-fill-mode:both;
	animation-fill-mode:both;
	
	-webkit-animation:blink 1s infinite;
	-moz-animation:blink 5s infinite;
	-o-animation:blink 5s infinite;
	animation:blink 5s infinite;
}

@-webkit-keyframes blink {
	0%,50%,100% {
		opacity:1;
	}
	
	25%,75% {
		opacity:0;
	}
}

@keyframes blink {
	0%,50%,100% {
		opacity:1;
	}
	
	25%,75% {
		opacity:0;
	}
}
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
  </style>

  <!-- For bootstrap 5 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<!-- For jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>
  
  
  
  
  
  
  
  
  
  <body class="bg-dark">
  
  <div class="well rounded border border-success mx-5 my-3 d-flex" style="color:green;">
  <!--<b>&nbsp; [imao]$&nbsp;&nbsp; Hello World_<br>-->
  <B>&nbsp; >&nbsp; Hello World<span class="blinking"><b> -</span><br>
  <br>
  </div>
  
  
<form action='' method='POST' id="feedbackForm">
  {% csrf_token %}    
  
  <textarea class="form-control col-md-4 mx-2 my-2 me-2" rows="5" placeholder="feedback" name="feedback" id="feedbackInput" required></textarea>

  <div class="row g-3 mt-2 mx-auto">
    
    <div class="form-floating col-md-4">
    <input type="email" class="form-control mx-auto" name="email" id="emailInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
    <div id="emailHelp" class="form-text">(optional) We'll never share your email with anyone else.</div>
    </div>
  
  
  
  
    <div class="form-floating col-md-4">
    <input type="text" class="form-control" id="usernameInput" name="username" placeholder="user" required>
    <label for="floatingInput"> Username </label>
    <div id="emailHelp" class="form-text"> Please pick a username. </div>
  </div></div>


  
</form>
    <div class="col-12">
      <button class="btn btn-primary mt-4 ms-2" onClick="SendFeedback();"> Send </button>
    </div><br><br>
 

<div id="feedback_container">
{% for feedback in feedbacks %}

<div class="mt-5 mx-3 rounded col-3" style="background-color:white" id="Saved_feedback_user">
<h1><b> {{feedback.0}} </h1>

</div>

<div class="mt-auto rounded mx-3" style="background-color:white">
<h4> {{feedback.1}} </h4><br>
</div>
{% endfor %}
</div><br>

<!--
  message:<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ananymous_username: <input type="text" name="ananymous_username" class="textarea"><br><br>
      <textarea for="body" name="body" value="Name" rows="5" cols=auto onfocus="this.textContent=''" class="textarea"> Any advice would appreciated. </textarea><br><br>

      <!--Summary: <input type="text" name="summary" class="textarea"><br><br>->
      
      Email: &nbsp;&nbsp;&nbsp;&nbsp; <input type="email" name="Your_email_address" value='Your email address' onfocus="this.value=''" class="textarea"><br>
    <button type="submit">Send</button>
    </form>
  
  
  
  
  
  
  
  
  <form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
  
  
  
  
  
  
  
  
  <form class="row g-3">
  <div class="col-auto">
    <label for="staticEmail2" class="visually-hidden">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
  </div>
</form>
  
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="col-md-2 form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>-->

<script>
function append_feed(username, feedback){
  let user = document.createElement('div');
  user.setAttribute('class',"mt-5 mx-3 rounded col-5");
  user.setAttribute('style', "background-color:white");
  
  
  let h1 = document.createElement('h1');
  let b = document.createElement('b');
  let br = document.createElement('br');
  
  b.textContent = username;
  h1.appendChild(b);
  user.appendChild(h1);
  
  //document.body.appendChild(user);
  
  
  let feed = document.createElement('div');
  feed.setAttribute('class',"mt-auto mx-3 rounded");
  feed.setAttribute('style', "background-color:white");
  
  let h4 = document.createElement('h4');
  h4.textContent = feedback;
  feed.appendChild(h4);
  feed.appendChild(br);
  
  let container=document.getElementById('feedback_container')
  
  container.insertBefore(feed, container.firstChild)
  container.insertBefore(user, container.firstChild)
  //document.body.appendChild(feed);
}

//To check validity of email address
function isValid(mail) 
{
 if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(mail))
  {
    return (true)
  }
    /*alert("You have entered an invalid email address!")*/
    return (false)
}

function SendFeedback(id) {
  feedback = document.getElementById('feedbackInput').value;
  email = document.getElementById('emailInput').value;
  username = document.getElementById('usernameInput').value;
  
  if (isValid(email) || email === ''){
  console.log('valid')

  
  
  console.log('feed: '+feedback + ', email: ' + email + ', user: ' + username)
  //console.log('comment:'+comment + '  id:' +id);
  $.ajax({
    type:'POST',
    url:"{% url 'feedback' %}",
    data: {
      'feedback':feedback,
      'username':username,
      'email': email,
      csrfmiddlewaretoken: '{{ csrf_token }}'
      
    },
    
    // To clear comment form after submission
    success: function(response) {
    document.getElementById('feedbackInput').value='';
    document.getElementById('emailInput').value='';
    document.getElementById('usernameInput').value='';
    console.log('Feedback Saved');
    
    //var instance = JSON.parse(response[]);
    //console.log(response['feedbacks'][0][0])
    //console.log(response['feedbacks'][0][1])
    //console.log(response)
    
    username = response['feedbacks'][0][0];
    feedback = response['feedbacks'][0][1];
    append_feed(username, feedback);
    }, error: function (response) {
         console.log(response);
         return 'her';
       }
    
  })
}
 else {
    displayMessage("Invalid email address");
  }
  }

</script>
  </body>
</html>
